<a href="https://colab.research.google.com/github/aldhkwnsk/pythonbasicclass/blob/main/02HW20220223%EB%B0%95%EB%AF%B8%EC%A3%BC03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [2]:
#52
movie_rank.append('배트맨')

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
#53
movie_rank.insert(1, '슈퍼맨')

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [4]:
#54
movie_rank.pop(3)

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [5]:
#55
i=0
while i<2:
  movie_rank.pop()
  i += 1

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [6]:
#56
lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']

langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
#57
nums = [1,2,3,4,5,6,7]

print(f'max : {max(nums)}')
print(f'min : {min(nums)}')

max : 7
min : 1

In [8]:
#58
nums = [1,2,3,4,5]

print(sum(nums))

15

In [9]:
#59
cook = '피자', '김밥', '만두', '양념치킨', '족발', '피자', '피자', '김치만두', '쫄면', '쏘세지', '라면', '팥빙수', '김치전'

cook = set(cook)

print(len(cook))

11

In [10]:
#60
nums = [1,2,3,4,5]

sum = sum(nums)
nums_size = len(nums)

print(sum / nums_size)

3.0

In [11]:
#121
a = input('문자입력 >> ')

if a.islower():
  a = a.upper()
else:
  a = a.lower()

print(a)

문자입력 >> a
A

In [12]:
score = int(input('점수 >> '))

if score > 80:
  grade = 'A'
elif score > 70:
  grade = 'B'
elif score > 40:
  grade = 'C'
elif score > 20:
  grade = 'D'
else:
  grade = 'E'

print(f'grade is {grade}')

점수 >> 63
grade is C

In [13]:
#123
ex_rate = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}

amount = input('입력 : ')

blank = amount.index(" ")

KRW = (ex_rate[amount[blank+1:]]) * float(amount[:blank])
print(KRW)

입력 : 100 달러
116700.0

In [14]:
#124
n1 = int(input('input number1 : '))
n2 = int(input('input number2 : '))
n3 = int(input('input number3 : '))

if n1 > n1 and n1> n3:
  max = n1
elif n2 > n1 and n2 > n3:
  max = n2
else:
  max = n3

print(max)

input number1 : 4
input number2 : 6
input number3 : 2
6

In [15]:
#125
agency = {'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}

phone_num = input('휴대전화 번호 입력 : ')

print(f'당신은 {agency[phone_num[:3]]} 사용자 입니다.')

휴대전화 번호 입력 : 011-123-5434
당신은 SKT 사용자 입니다.

In [16]:
#126
area = {'010':'강북구',
        '011':'강북구',
        '012':'강북구',
        '013':'도봉구',
        '014':'도봉구',
        '015':'도봉구',
        '016':'노원구',
        '017':'노원구',
        '018':'노원구',
        '019':'노원구',
        }

code = input('우편번호 : ')
print(area[code[:3]])

우편번호 : 01234
강북구

In [17]:
#127
re_num = input('주민등록번호 : ')

if int(re_num[7]) % 2 != 0:
  print('남자')
else:
  print('여자')

주민등록번호 : 010101-1362977
남자

In [56]:
#128
re_num = input('주민등록번호 : ')

if int(re_num[8]) + int(re_num[9]) < 9:
  print('서울입니다.')
else:
  print('서울이 아닙니다.')

주민등록번호 : 861010-1015210
서울입니다.

In [33]:
test = '12323-1241'
test.replace('-', "")

'123231241'

In [48]:
#129
mul_num = [2,3,4,5,6,7,8,9,2,3,4,5]

i = 0
result = 0

re_num = input('주민등록번호 : ')
re_num = list(map(int,re_num.replace('-', "")))

while i < 12:
  result += re_num[i]*mul_num[i]
  i += 1

if 11 - (result % 11) == re_num[12]:
  print('유효한 주민등록번호 입니다.')
else:
  print('유효하지 않은 주민등록번호 입니다.')
# i=0

# while i < 12:
#   m_num[i]*

주민등록번호 : 821010-1635210
유효하지 않은 주민등록번호 입니다.

In [54]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

fluctuation_range = int(btc["max_price"])-int(btc["min_price"])

if int(btc["opening_price"])+int(btc["opening_price"]) > int(btc["max_price"]):
  print('상승장')
else:
  print('하락장')

상승장