<a href="https://colab.research.google.com/github/aldhkwnsk/pythonbasicclass/blob/main/Python_Basic_Day04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을 str(문자열)로 저장한다는 점이다.
# 따라서 숫자를 입력해도 문자로 받아들인다.

n = input('점수를 입력하세요 >>')
print(type(n))

점수를 입력하세요 >>123
<class 'str'>

In [3]:
n = int(input('정수를 입력하세요 >> ')) # 형변환이 필요하다. casting
print(type(n))

정수를 입력하세요 >> 123
<class 'int'>

In [5]:
price = 50000
n = int(input('할부 개월 입력 >>'))
print('매달 내는 돈은 {}원 입니다.'.format(price/n))

할부 개월 입력 >>5
매달 내는 돈은 10000.0원 입니다.

In [10]:
n1 = float(input('첫 번째 실수를 입력하세요 >> '))
n2 = float(input('둥 번째 실수를 입력하세요 >> '))
print(f'{n1}과 {n2}의 합은 {n1+n2}입니다')

첫 번째 실수를 입력하세요 >> 243.4
둥 번째 실수를 입력하세요 >> 34.08
243.4과 34.08의 합은 277.48입니다

In [18]:
month = [31,28,31,30,31,30,31,31,30,31,30,31]
n = int(input('1~12 사이의 월을 입력하세요 >>'))
print(f'{n}월은 {month[n-1]}일까지 있습니다.')

1~12 사이의 월을 입력하세요 >>5
5월은 31일까지 있습니다.

In [20]:
english_dict = {'flower':'꽃','fly':'날다', 'floor':'바닥'}
key = input('영어 단어를 입력하세요 >> ')
print(f'{key}:{english_dict[key]}')

영어 단어를 입력하세요 >> fly
fly:날다

In [23]:
site = set()
site.add(input('희망하는 수학여행지를 입력하세요 >> '))
site.add(input('희망하는 수학여행지를 입력하세요 >> '))
site.add(input('희망하는 수학여행지를 입력하세요 >> '))
print(f'조사된 수학여행지는 {site}입니다')

희망하는 수학여행지를 입력하세요 >> 제주
희망하는 수학여행지를 입력하세요 >> 제주
희망하는 수학여행지를 입력하세요 >> 울릉도
조사된 수학여행지는 {'울릉도', '제주'}입니다

In [24]:
# 복합 대입 연산자
a = 1
print(a)
a = a + 1  # a += 1
print(a)

1
2

In [26]:
a,b = 10, 20
print('a = %d, b = %d' % (a,b))
a,b = b, a #***********************<<<<<<*********************************#
print('a = %d, b = %d' % (a,b))

a = 10, b = 20
a = 20, b = 10

In [30]:
# 시퀀스 연산자 : 순서가 있는 데이터 구조(리스트, 튜플, ranege, 문자열)에서 사용할 수 있는 연산자

print([1,2,3]+[4,5,6])
print('hell'+'o')
print([1,2,3]*2)

[1, 2, 3, 4, 5, 6]
hello
[1, 2, 3, 1, 2, 3]

In [31]:
# 멤버쉽 연산자 : 어떤 값이 지저왼 컬렉션(리스트 문자열 딕셔너리)에 속해 있는지 여부를 판단

print(5 in [1,2,3,4,5]) # [1,2,3,4,5] 리스트에 5가 포함되어 있는가
print('a' not in 'apple') # 'apple'문자열에 a가 포함되어 있지 않은가

True
False

In [38]:
num = int(input('10~99사이의 정수를 입력하세요 >> '))
print(f'십의 자리: {num//10}')
print(f'일의 자리: {num%10}')

num = input('10~99사이의 정수를 입력하세요 >> ')
print(f'십의 자리: {num[0]}')
print(f'일의 자리: {num[1]}')

10~99사이의 정수를 입력하세요 >> 63
십의 자리: 6
일의 자리: 3
10~99사이의 정수를 입력하세요 >> 63
십의 자리: 6
일의 자리: 3

In [51]:
sec = int(input('초를 입력하세요 >> '))
hour = sec // 3600
min = (sec% 3600) // 60
sec = (sec% 3600) % 60 # = sec % 60

print(f'반환 결과는 {hour}시간 {min}분 {sec}초 입니다')

초를 입력하세요 >> 3690
반환 결과는 1시간 1분 30초 입니다

In [55]:
num = int(input('4자리 사원번호를 입력하세요 >> '))
print('근무 시간은 {}입니다'.format('오전' if (num % 10) >= 5 else '오후'))

# if num%10 >= 5:
#   print('근무시간은 오전')
# else:
#   print('근무시간은 오후')

4자리 사원번호를 입력하세요 >> 3452
근무 시간은 오후입니다

In [ ]:
# 조건물 if
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할 때 사용