<a href="https://colab.research.google.com/github/aldhkwnsk/pythonbasicclass/blob/main/Python_Basic_Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list tuple dict set
```
list   []  indexing/slicing  mutable(del삭제, ins수정삽입)  [1]
tuple  ()  indexing/slicing  immutable                      (1,)
dict   {}    x(unordered)    mutable(del, ins)              {'key':'vales'}
set    {}    x(unordered)    mutable(del, ins)              {1,2,3}
```

In [16]:
# str = '31025'
# print(str[:1]+'학년 '+str[1:3]+'반 '+str[3:]+'번')

no = '31025'
a = no[0] # indexing
b = no[1:3] #slicing
c = no[3:] #slicing


print(a,'학년', b,'반', c, '번')
print(f'{a}학년 {b}반 {c}번')# f 스트링

3 학년 10 반 25 번
3학년 10반 25번

In [22]:
# num = '서울2가1234'
# print(num+'의 차량번호 4자리는 '+num[-4:]+'입니다')

no = '서울2가1234'
no4 = no[-4:]
print(f'{no}의 차량번호 4자리는 {no4}입니다')

서울2가1234의 차량번호 4자리는 1234입니다

In [37]:
s = 'maple'
mid = len(s) // 2 # // : 나머지를 버리고 몫만 취한다
                  # % : 몫을 버리고 나머지만 취한다(홀/짝/배수를 알아낼 수 있음)
print(f'{s}의 가운데 글자는 {s[mid]}입니다')

maple의 가운데 글자는 p입니다

In [40]:
list = [10,20,30,40,50,60,70,80,90,100]
list2 = list[2:7]
a = list2[1]
print(f'3번째 요소부터 7번째 요소 = {list2}')
print(f'3번째 요소부터 7번째 요소 = {list[2:7]}')
print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {a}')
print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {list[2:7][1]}')

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [45]:
menu = {'금요일':'탕수육', '토요일':'유산슬', '일요일':'팔보채'}
print('금요일 :',menu['금요일'])
print('토요일 :', menu['토요일'])
print('일요일 :',menu['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [56]:
# \n 줄바꿈 line feed
# \t 탭     tab

# \ 따옴표의 기능을 무력화 시키고 글자로 표현

print('Hello \'World\'')
print("Hello 'World'")
print("Hello \"World\"")
print('*\n**\n***')
print('이름\t연락처')
print('제시카 \t02-123-4567')
print('마틴\t010-8765-1234')

Hello 'World'
Hello 'World'
Hello "World"
*
**
***
이름	연락처
제시카 	02-123-4567
마틴	010-8765-1234

In [59]:
# print() 함수

print('재미있는','파이썬') # 기본 띄어쓰기 있음 : 기본 공백
print('재미있는','파이썬',sep=',') #sep : 구분자 # 여기서는 띄어쓰기가 생략됨 띄어쓰기 대신 ,로 구분
print('재미있는','파이썬',sep='/') # 여기서는 띄어쓰기가 생략됨 띄어쓰기 대신 /로 구분

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬

In [60]:
print('영화 타이타닉') # print는 문장 종료 후 줄바꿈이 기본 end 기본값이 \n
print('평점', end=':') # end 값을 기본\n에서 :로 변경
print('5점')

영화 타이타닉
평점:5점

In [69]:
# % 연산자

print('%d' % 10)  # %d : 정수 10진수 자리표시자
print('%o' % 10)  # %o : 정수 8진수 자리표시자
print('%x' % 10)  # %x : 정수 16진수 자리표시자

print('%f' % 3.14)  # %f : 실수
print('%d' % 3.14)

print('%s' % 'python')
print('%s' % 10)
print('%s' % 3.14)

10
12
a
3.140000
3
python
10
3.14

In [78]:
print('%5d' %1)
print('%d' %1)
print('%5d' %11) #5칸 확보 후 오른쪽 부터 출력
print('%-5d' %11) # 5칸 확보 후 왼쪽부터 출력
print('%-5d' %11)

    1
1
   11
11
11

In [79]:
print('%5.2f' %3.14) # 5칸 확보 후 오른쪽부터 소수점 2자리까지 실수 출력
print('%5.1f' %3.14)
print('%-5.2f' %3.14) # 5칸 확보 후 왼쪽부터 소수점 2자리까지 실수 출력
print('%-5.1f' %3.14)

 3.14
  3.1
3.14
3.1

In [80]:
print('%.2f' %3.14) # 오른쪽부터 소수점 2자리까지 실수 출력
print('%.1f' %3.14)

3.14
3.1

In [82]:
a = '학생'

# 기본 출력방법
print(a,'입니다')

# f string 출력방법
print(f'{a} 입니다')

# % 연산자 출력방법
print('%s 입니다' % a)

# format() 출력방법
print('{} 입니다'.format(a))

학생 입니다
학생 입니다
학생 입니다
학생 입니다

In [89]:
# format() 메소드

print('My name is {}'.format('James'))
print('My name is {0}'.format('James'))
print('My name is {0}'.format('James','Alice'))
print('My name is {name}'.format(name = 'James'))

My name is James
My name is James
My name is James
My name is James

In [93]:
print('My name is {}, I\'m {} years old.'.format('James', 20))
print('My name is {1}, I\'m {0} years old.'.format('James', 20))
print('My name is {name}, I\'m {age} years old.'.format(name='James', age=20))

My name is James, I'm 20 years old.
My name is 20, I'm James years old.
My name is James, I'm 20 years old.

In [94]:
who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [95]:
age = 25
print(f'내년엔 {age+1}살이 된다.')

내년엔 26살이 된다.

In [97]:
# 표준 입력

a = input()
print(a)

sdf
sdf

In [98]:
n = input('정수를 입력하시요 >> ')
print(n)

정수를 입력하시요 >> 43
43

In [106]:
name = input('이름을 입력하세요 >>> ')
age = input('나이를 입력하세요 >> ')

print('입력된 이름은 {}입니다'.format(name))
print('입력된 나이는 {}입니다'.format(age))

print(f'입력된 이름은 {name}입니다')
print(f'입력된 나이는 {age}입니다')

print('입력된 이름은 ',name,'입니다',sep='')
print('입력된 나이는 ',age,'입니다',sep='')

print('입력된 이름은 %s입니다'%name)
print('입력된 나이는 %s입니다'%age)

이름을 입력하세요 >>> 홍길동
나이를 입력하세요 >> 34
입력된 이름은 홍길동입니다
입력된 이름은 홍길동입니다
입력된 이름은 홍길동입니다
입력된 이름은 홍길동입니다
입력된 나이는 34입니다
입력된 나이는 34입니다
입력된 나이는 34입니다
입력된 나이는 34입니다