<a href="https://colab.research.google.com/github/aldhkwnsk/pythonbasicclass/blob/main/Python_Basic_Day06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# for   반복문, 주로 반복횟수를 명확히 알고 있을 때 사용

# for 변수 in 반복객체:
#   반복실행

for i in [1,2,3]:
  print(i)

1
2
3

In [4]:
for i in "Hello":
  print(i)

H
e
l
l
o

In [5]:
for item in ['가위', '바위', '보']:
  print(item)

가위
바위
보

In [6]:
# 리스트 내포 : for 문을 이용해서 리스트를 간단히 생성한다.

[n*2  for n in [1,2,3]]

[2, 4, 6]

In [7]:
[n*2 for n in [1,2,3,4,5] if n%2 == 1]
# n 이 [1,2,3,4,5]에 있을 때 if문이 참이라면 n*2해서 리스트 만들기

[2, 6, 10]

In [10]:
four_seasons = ('Spring','Summer', 'Autumn', 'Winter')

for season in four_seasons:
  print(season)

Spring
Summer
Autumn
Winter

In [15]:
# range()
# 정수 범위를 만들어 낼 때 유용 for문과 자주 사용되는 함수

# range(start, stop, step)  #start(0부터), step(1씩 증가)은 생략 가능

print(list(range(5))) # 시작생략, 스텝생략 0,1,2,3,4 =0부터 5미만
print(list(range(1, 11))) #step 생략
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [16]:
for i in range(5):
  print(i)

0
1
2
3
4

In [17]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
for item in {'가위', '바위', '보'}:
  print(item)

가위
보
바위

In [23]:
person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [18]:
#129p 1
for i in range(5):
  print(5-i)

5
4
3
2
1

In [25]:
# 129
# 1

for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [28]:
#129 2
num = int(input('임의의 양수를 입력하세요 >> '))
sum = 0

for i in range(num):
  sum = sum + (i+1)

print(f'1부터 {num}사이의 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >> 5
1부터 5사이의 모든 정수의 합계는 15입니다.

In [29]:
# 129
# 2

no = int(input('임의의 양수를 입력하세요 >> '))
sum = 0

for i in range(1,no+1):
  sum = sum+i

print(f'1부터 {no}사이의 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >> 5
1부터 5사이의 모든 정수의 합계는 15입니다.

In [43]:
#129 3
no = int(input('몇개의 과일을 보관할까요? >> '))
basket = list(0 for i in range(no))

for i in range(no):
  basket[i] = input('과일을 입력하세요 >> ')

print(basket)

몇개의 과일을 보관할까요? >> 3
과일을 입력하세요 >> 바나나
과일을 입력하세요 >> 사과
과일을 입력하세요 >> 파인애플
['바나나', '사과', '파인애플']

In [48]:
# 129
# 3
no = int(input("몇 개의 과일을 보관일까요? >> "))
basket = []

for i in range(1, no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >> ')
  basket.append(fruit)

print(basket)

몇 개의 과일을 보관일까요? >> 2
1번째 과일을 입력하세요 >> 바나나
2번째 과일을 입력하세요 >> 사과
['바나나', '사과']

In [68]:
#130 4
exam = [99,78,100,91,81,54,100,71,50]
score = []
for i in range(len(exam)):
  score.append(min(100, exam[i]+5))

print(score)

[100, 83, 100, 96, 86, 59, 100, 76, 55]

In [61]:
#130 4
exam = [99,78,100,91,81,54,100,71,50]

score = []
for i in exam:
  if i >= 95:
    score.append(100)
  else:
    score.append(i+5)

print(score)

[100, 83, 100, 96, 86, 59, 100, 76, 55]

In [72]:
# break

# while 문이나 for문에서 반복을  강제로 종료시킬 때 사용

n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [90]:
# continue

# 반복 도중에 continue를 만나면 더이상 아래로 내려가지 않고 
# 다시 반복문으로 진입한다. 

total = 0
for a in range(1,101):
  if a % 3 == 0 : # 3의 배수찾기
    continue      # 3의 배수를 제외한 합
  total += a
print(total)

3367

In [88]:
#141 1
money = 10000

print(f'현재 {money}원이 있습니다.')
while True:
  a = int(input("사용할 금액 입력 >> "))

  if a < 0:
    print("0 이하의 금액은 사용할 수 없습니다.")
  else:   
    if money < a:
      print(f'{-(money-a)}원이 부족합니다')
      print(f'현재 {money}원이 있습니다.')
    else: 
      money = money-a
      print(f'현재 {money}원이 있습니다.')
      if money == 0:
        break

현재 10000원이 있습니다.
사용할 금액 입력 >> 5000
현재 5000원이 있습니다.
사용할 금액 입력 >> -4500
0 이하의 금액은 사용할 수 없습니다.
사용할 금액 입력 >> 4500
현재 500원이 있습니다.
사용할 금액 입력 >> 700
200원이 부족합니다
현재 500원이 있습니다.
사용할 금액 입력 >> 200
현재 300원이 있습니다.
사용할 금액 입력 >> 300
현재 0원이 있습니다.

In [89]:
cash = 10000

while True:
  print(f'현재 {cash}원이 있습니다.')
  if cash == 0:
    break
  pay = int(input('사용할 금액 입력 >> '))
  if pay <= 0:
    print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > cash:
    print(f'{pay-cash}원이 부족합니다.')
  else:
    cash -= pay

현재 10000원이 있습니다.
사용할 금액 입력 >> 5000
현재 5000원이 있습니다.
사용할 금액 입력 >> -4500
0이하의 금액은 사용할 수 없습니다.
현재 5000원이 있습니다.
사용할 금액 입력 >> 4500
현재 500원이 있습니다.
사용할 금액 입력 >> 700
200원이 부족합니다.
현재 500원이 있습니다.
사용할 금액 입력 >> 300
현재 200원이 있습니다.
사용할 금액 입력 >> 200
현재 0원이 있습니다.

In [91]:
#141 2
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >> '))
  if score > 5 or score < 0:
    print('평점을 1~5 사이만 입력할 수 있습니다.')
  else:
    print(f"평점 : {'★'*score}")
    break

이번 영화의 평점을 입력하세요 >> 10
평점을 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >> -2
평점을 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >> 4
평점 : ★★★★

In [94]:
#141 3
pw = 'qwerty'
for i in range(5):
  pw2 = input('비밀번호를 입력하세요 >> ')
  if pw2 == pw:
    print('비밀번호를 맞혔습니다.')
    break
  if i == 4:
    print('비밀번호 입력 횟수를 초과했습니다.')

비밀번호를 입력하세요 >> lwkef
비밀번호를 입력하세요 >> qwerty
비밀번호를 맞혔습니다.

In [100]:
password = 'qwerty'
tryno = 0
while True:
  if tryno == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  inpass = input('비밀번호를 입력하세요 >>> ')
  if password == inpass:
    print('비밀번호를 맞혔습니다.')
    break
  tryno += 1

비밀번호를 입력하세요 >>> sdkjfs
비밀번호를 입력하세요 >>> woen
비밀번호를 입력하세요 >>> qwerty
비밀번호를 맞혔습니다.

In [109]:
# 143 4
for i in range(3, 10, 2):
  for j in range(1, i+1):
      print(f'{i} * {j} = {i*j}')
  print()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [102]:
for i in range(2, 10):
  for j in range(1, 10):
      print(f'{i} * {j} = {i*j}')
  print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [106]:
for i in range(1, 10, 2):
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [112]:
for i in range(2, 10):
  for j in range(1, 10):
    if i % 2 == 0:
      continue
    elif j > i:
      break
    else:
      print(f'{i} * {j} = {i*j}')
  print()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81